.azure
.ipynb_checkpoints
.venv
.conda
.env
__pycache__
democlient/build
node_modules
src/static
src/static/static
bin
obj
appsettings.json
output
.DS_Store

.pytest_cache
.coverage

src/public/output_data
infra/config
data
.env.production
/.vs
